[include mainsail.cfg]

##########################################
################# System #################
##########################################

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 2000
max_accel_to_decel: 2000
max_z_velocity: 200
max_z_accel: 500

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,   EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15,  EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>,
    # I/O header
    IO_1=PD0, IO_2=PD2, IO_3=PD3, IO_4=PD4, IO_5=PD5,
    # PWR-DET header
    PWR_DET=PC12,
    # Unused pin
    UNUSED=PA6

[mcu]
#serial: /dev/ttyAMA0
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A100OZQ1-if00-port0
restart_method: command

[temperature_sensor microcontroller]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 90
gcode_id: mcu

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 90
gcode_id: pi

##########################################
################# Motors #################
##########################################

# The stepper_x section is used to describe the X axis as well as the
# stepper controlling the X+Z movement.
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16 # set by driver
full_steps_per_rotation: 200 # motor specific
gear_ratio: 36:20 # CoreXZ gearbox
rotation_distance: 40 # 20 teeth * 2mm belt
endstop_pin: ^!PC0
position_endstop: -7.0
position_min: -7.0
position_max: 228.0
homing_speed: 40
second_homing_speed: 10

# The stepper_y section is used to describe the stepper controlling
# the Y axis.
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16 # set by driver
full_steps_per_rotation: 200 # motor specific
gear_ratio: 1:1 # driven directly
rotation_distance: 40 # 20 teeth * 2mm belt
endstop_pin: ^!PC1
position_endstop: 0.0
position_min: 0.0
position_max: 210.0
homing_speed: 40
second_homing_speed: 10

# The stepper_z section is used to describe the Z axis as well as the
# stepper controlling the X-Z movement.
[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16 # set by driver
full_steps_per_rotation: 200 # motor specific
gear_ratio: 36:20 # CoreXZ gearbox
rotation_distance: 40 # 20 teeth * 2mm belt
endstop_pin: ^!PC2
position_endstop: 0.200
position_min: 0.0
position_max: 275.0
homing_speed: 40
second_homing_speed: 10

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
rotation_distance: 22.67895
gear_ratio: 50:8
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
control: pid
pid_Kp: 23.441
pid_Ki: 0.919
pid_Kd: 149.435
min_temp: 0
max_temp: 250
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 43.878
pid_Ki: 0.255
pid_Kd: 1888.933
min_temp: 0
max_temp: 130

###########################################
################# TMC2209 #################
###########################################

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
stealthchop_threshold: 999999
run_current: 0.6

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
stealthchop_threshold: 999999
run_current: 0.6

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
stealthchop_threshold: 999999
run_current: 0.6

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
stealthchop_threshold: 999999
run_current: 0.5

###########################################
############### Accessories ###############
###########################################

[heater_fan nozzle_cooling_fan]
pin: PC6 # fan 0

[fan]
pin: PC7 # fan 1

[controller_fan controller_fan]
pin: PB15 # fan 2

############################################
############### Bed Leveling ###############
############################################

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -37
y_offset: -2
z_offset: 3.151
speed: 10

[bed_mesh]
speed: 200
mesh_min: 5, 5
mesh_max: 190, 195
horizontal_move_z: 10
probe_count: 5, 5
mesh_pps: 4, 4

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE

###########################################
########### LCD / Encoder / LED ###########
###########################################

[display]
lcd_type: uc1701
cs_pin: EXP1_2
a0_pin: EXP1_3
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^IO_2, ^IO_3
click_pin: ^!EXP1_1
#kill_pin: ^IO_1
spi_software_miso_pin: UNUSED
spi_software_mosi_pin: IO_5
spi_software_sclk_pin: IO_4

# index 1 is lcd backlight
# index 2 is left encoder led
# index 3 is right encoder led
[neopixel lcd]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

##########################################
################# Beeper #################
##########################################

# M300 : Play tone. Usage:
#   M300 [P<ms>] [S<Hz>]
#   P is the tone duration, S the tone frequency.

[output_pin beeper]
pin: PWR_DET
pwm: True
value: 0 # Silent at power on, set to 1 if active low.
shutdown_value: 0 # Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    \{% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    \{% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

##########################################
############## Idle Timeout ##############
##########################################

# https://moonraker.readthedocs.io/en/latest/configuration/#toggling-device-state-from-klipper

[gcode_macro POWER_OFF_PRINTER]
gcode:
    {action_call_remote_method("set_device_power",
                               device="printer",
                               state="off")}

[delayed_gcode delayed_printer_off]
initial_duration: 0.
gcode:
    \{% if printer.idle_timeout.state == "Idle" %}
        POWER_OFF_PRINTER
    \{% endif %}

[idle_timeout]
gcode:
    M84
    TURN_OFF_HEATERS
    UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=60

##########################################
######### Telegram Bot Timelapse #########
##########################################

# https://github.com/nlef/moonraker-telegram-bot/wiki/installation#step-5-optional-include-the-macro-to-store-lapse-variables

[gcode_macro _bot_data]
variable_lapse_video_size: 0
variable_lapse_filename: 'None'
variable_lapse_path: 'None'
gcode:
    M118 Setting bot lapse variables
